/* || General styles */

*,
*::before,
*::after
 {
  font-family: 'Cinzel', serif;
  box-sizing: border-box; 
}

body {

  font-size: 1.3125em;
  line-height: 1.6;
  background-color:rgb(26, 10, 2) ;
}

body, 
h1, 
h2,
h3,
p {
  margin: 0;
  margin-inline:auto; 
}


/* index html styling … */

.title {
  color: white;
  text-align: center;
  font-size: 400;
  margin-top: 22px;
  margin-bottom: 22px;
}

  
.home {
  min-height: 100%;
  min-width:100%;
  position: absolute;
  padding-bottom: 4em;
}

video {
  width:100%;
  min-height: 100%;
  object-fit:cover;
  position:relative;
  display: block;
  margin: 0 auto;
}

.info-containter {
  min-height: min(100%, 70.5rem);
  min-width:100%;
  margin: 0 auto;
  position: relative;
  top: 10.375rem;
  color: #ebe5d6;
  z-index: auto;
  text-align: center;
  display: block;
}

.page-content h1 {
  
  text-align:justify;
  text-transform: uppercase;
  font-size: 2.75rem;
  line-height: 1.1;
  display: block;
}

.middle-line {
  min-height: 110px;
  width: 2px;
  background: #ebe5d6;
  margin: 2.5rem auto;
  display: block;
}

button {
  display: block;
  font-size: 1.25rem;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  margin: 50px auto 0;
  padding: 16px 30px;
  cursor: pointer;
}

/* links styling */

a {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  color:#a01c2e;
}
a:after {
  transition: all 400ms ease-in-out;
  color:grey
}

a:hover {
  color: grey;
}

/* || Header and Main Navigation */

.menu-items {
  display: flex;
  flex-wrap:wrap;
  background: #1a0a02;
  list-style: none;
  margin: 0;
  padding:0;
  gap:1rem; 
  justify-content:left;
}

li {
  color: rgb(26, 10, 2);
  background: #1a0a02;
  place-items: center;
  padding: 3rem;
  text-decoration: none;
  transition-duration: 0.5s;
  flex-grow: 1;
}
  
li a {
  color: #fff;
  font-size: large;
}

li a:hover {
  color: black;
  font-size: large;
}

li:hover,
li:focus-within {
  background:white;
  cursor: pointer;

}

li:focus-within a {
  outline: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 5;
   display: block;
}

 /* || Gallery page styling */

.container {
  width: 100%;
  display: grid; 
  grid-auto-flow: dense;
  grid-template-columns: repeat(1, 1 fr);
  gap:1.5rem;
  padding-block: 2rem;
  margin-inline: auto;
}

.gallery__img {
  width: 100%;
  height: 60%;
  display: block;
}


/* || Menu Page styling */
 h2 {
  text-align: center;
 }
 
 .container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
  background-color:#ebe5d6;
  margin-bottom: 20px;
}

.menu {
  font-size: 18px;
  font-weight: bolder; 
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
  flex-wrap:wrap;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.7;
  color: black;
  font-weight:bolder;
  font-size: 15px; 
}

/* || Page Footer styling */

   .page-footer {
    color:#a01c2e;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding:3rem 0;
    background-color: #ebe5d6;
    text-align: center;
  }

  .page-footer-index {
    color:  #ebe5d6; 
    padding:3rem 0;
    position: relative;
  }
  .containter-footer-index{
    position:absolute;
    top: 400px;
    left:20px;
    right: 10px; 
    display: flex;
    flex-wrap:wrap;
    align-items:left;
    text-align: left;
    gap: 70px;
  }

  .page-footer-index {

    color:#ebe5d6;
    font-size: 17px;
  }
  .page-footer-index a,h2,p {
   color: #ebe5d6;
  }

  .page-footer-index a:hover {
    color:#333333;
  }
  .img-responsive {
   
    background-color: #333333;
  }
 
/* || Media Quieries */

@media (min-width: 992px) {

  .menu, iframe{
    font-size: 16px;
  }
}
  @media screen and (max-width:600px) {

    body{
      flex-direction:column;  
    }
  }

  @media screen and (max-width:600px) {
    .col-25,.col-75, input[type=submit]{
      width: 100%;
      margin-top: 0;
    }
  }
 @media screen and (max-width:800px) {
  
  .middle-line {
   
   display:none;
  }
}

@media screen and (max-width:600px) {

  .info-containter h1 {
    font-size: small; 
  }
}
@media screen and (max-width: 700px) {
  .container1 {
      width: 100%;
      margin-top: 0;
      flex-direction: column; 
    }   
  }
